.body {
    padding: 0%;
    margin: 0%;
    font-family: Roboto, sans-serif;
}

.nav {
    text-align: right;
    font-family: Roboto, sans-serif;
    padding: 20px;
}

.nav_adv {
    background-color: #f1f1f1;
}

.center {
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    text-align: center;
}

.searchbox {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    width: 50%;
}

.buttons {
    padding: 5px;
    margin: 10px;
}

.image {
    padding: 10px;
}

.bar {
    margin: 20px 10px;
}

.bar label {
    color: #d93025;
    font-size: 20px;
    margin: 50px 20px;
}

.line {
    border-bottom: solid 1px #d6d6d6;
}

.adv-search-div {
    margin: 50px 40px;
}

.adv-search-div label {
    display: inline-block;
    width: 16%;
    font-size: 16px;
}

.adv-search-div .whitespace {
    display: inline-block;
    width: 50%;
}

.adv-search-div .form-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px 0;
}

.adv-search-div .form-box label {
    width: 16%;
    font-size: 13px;
}

.adv-search-div .form-box input[type=text] {
    width: 49%;
    padding: 2px 0;
}

.adv-search-div .form-box .to-do {
    font-size: 11px;
    width: 30%;
    margin-left: 1%;
}

.adv-search-div .form-box .to-do .monospace {
    font-family: monospace;
}

.adv-search-div .form-box .right-align {
    width: 50%;
}

.blue-button {
    background-color: dodgerblue;
    color: white;
    font-size: smaller;
    max-width: 200px;
    border-radius: 0px;
    border: 1px solid #156bbd;
    float: right;
    padding: 10px 2px;
    margin: 0;
}